<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/vista.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
    background: url('./images/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
    </style>
</head>

<body>
    <!-- Nuevo Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/menu">HEALTHYEATING</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="/menuComida">Ver Menú/Carrito</a></li>
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <a href="#" id="cart" class="cart-icon" onclick="toggleCart()">
                <i class="fas fa-shopping-cart"></i> <!-- Utilizando Font Awesome para el ícono -->
            </a>
            <a href="/login"><button type="button" class="btn btn-danger font-weight-bold">Iniciar/Registrarse</button></a>
        </div>
    </nav>

    <div class="container my-5">
        <div class="row">
            <% platos.forEach(plato => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm rounded">
                        <img src="<%= plato.imagen %>" class="card-img-top" alt="Imagen del plato">
                        <div class="card-body">
                            <h5 class="card-title"><%= plato.nombre %></h5>
                            <p class="card-text">$ <%= plato.precio %> pesos</p>
                            <a href="#" id="mi<%= plato.id %>" class="btn btn-primary btn-agregar enviar" marcador="<%= plato.id %>" onClick="añadirProductoAlCarrito(this)">Agregar al carrito</a>
                            <button type="button" class="btn btn-link mt-2 btn-sm" onclick="mostrarIngredientes('<%= plato.id %>')">Ver ingredientes</button>
                            <div id="ingredientes<%= plato.id %>" class="card-text ingredientes" style="display: none;">
                                <h6>Ingredientes:</h6>
                                <ul class="list-unstyled">
                                    <% for (const ingrediente in plato.ingredientes) { %>
                                        <li><%= ingrediente %>: <%= plato.ingredientes[ingrediente] %></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
            <!-- CARRITO -->
            <aside id="cart-sidebar" class="col-lg-3 cart-sidebar">
                <div class="sidebar-header">
                    <h2>Carrito</h2>
                </div>
                <!-- Elementos del carrito -->
                <div class="sidebar-body">
                    <ul id="carrito" class="list-group"></ul>
                    <hr>
                    <!-- Precio total -->
                    <p class="text-right">Total: <span id="total"></span> pesos</p>
                    <button id="boton-vaciar" class="btn btn-danger" onclick="vaciarCarrito()">Vaciar</button>
                    <a href="http://localhost:8000/pedidos" id="boton-pagar hola" class="btn btn-primary goku" onclick="pagar()">Pagar</a>
                </div>
            </aside>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <h5>About us</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
                    <ul class="links">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5>Opening Hours</h5>
                    <p class="week"><strong>Sunday-Thursday</strong></p>
                    <p class="time">5AM-10PM</p>

                    <h5>Contact Info</h5>
                    <p class="address">Address:</p>
                    <p class="white">34 Street Name, City Name Here, United States</p>
                    <p class="tel">Telephone</p>
                    <p class="white">+1 242 4942 290</p>
                    <p class="mail">Email</p>
                    <p class="white">info@yourdomain.com</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Disclaimers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Copyright &copy; 2019 All rights reserved | This template is made with <i class="fas fa-heart"></i> by <a href="#">Colorlib</a></p>
        </div>
    </footer>

    <!-- Scripts de Bootstrap y otros omitidos por brevedad -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="./js/menuComida.js"></script>
</body>
</html>
