<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vista Administrador</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/vista.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        body {
            background-image: url('./images/fondo.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/menu">HEALTHYEATING</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="/menuComida">Ver Menú/Carrito</a></li>
                    <li class="nav-item"><a class="nav-link font-weight-bold" href="/contacto">Contacto</a></li>
                </ul>
            </div>
            <a href="/login"><button type="button" class="btn btn-danger font-weight-bold">Iniciar/Registrarse</button></a>
        </div>
    </nav>
    <div style="padding: 25px;" class="container">
        <% platos.forEach(plato => { %>
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm rounded">
                    <img src="<%= plato.imagen %>" class="card-img-top" alt="Imagen del plato">
                    <div class="card-body">
                        <h5 class="card-title"><%= plato.nombre %></h5>
                        <p class="card-text">$ <%= plato.precio %> pesos</p>
                        <button class="btn btn-primary agregar-pedido" data-id="<%= plato.id %>"
                                data-nombre="<%= plato.nombre %>"
                                data-imagen="<%= plato.imagen %>"
                                data-precio="<%= plato.precio %>">
                            Agregar al carrito
                        </button>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <footer>
        <!-- Contenido del pie de página -->
    </footer>
    
    <!-- Scripts al final del body -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="js/script.js"></script>
    <script src="./js/pedidos.js"></script>
</body>
</html>